.container, .item-container {
    border: 2px solid #b45309;
}

.menu-content {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.menu-container {
    width: min(600px, 80%);
    padding: 2rem;
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.8rem;
}

.item-image {
    width: 100%;
}

.item-information {
    display: flex;
    flex-direction: column;
}

.item-description {
    padding-left: 1rem;
    font-family: mogent;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    margin-top: -8px;
}

.item-title {
    color: #b45309;
    text-align: center;
    text-wrap: wrap;
    font-size: 2.4rem;
    font-family: khiara;
}

.item-price {
    font-family: mogent;
    align-self: flex-end;
    margin-right: 12px;
}